html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: #5f6368;
  background-color: #f5f5f5;
  --mdc-theme-primary: #FF0266;
  --mdc-theme-secondary: #FF0266;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.one-bar {
  border-bottom: 1px solid #e3e3e3;
}
.compose-fab-container {
  margin: 16px 0 0 12px;
}
.main {
  display: flex;
  height: calc(100% - 64px);
}
.main-nav {
  min-width: 256px;
}
.mdc-list.folder-list,
mdc-list.folder-list {
  padding: 16px 16px 0 0 !important;
}
.folder-list > .mdc-list-item,
.folder-list > mdc-list-item {
  padding-left: 24px !important;
  border-radius: 0 32px 32px 0;
}
.main-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
}
.main-body-header {
  display: flex;
  align-items: center;
  padding: 0 10px 0 4px;
}
.main-body-content {
  background-color: #fff;
  overflow-y: auto;
}
.flex {
  flex: 1;
}
.mail-tabs {
  width: 300px !important;
}
.mail-last-range {
  font-size: 0.9em;
}
.mail-list {
  display: flex;
  flex-direction: column;

}
.mail-item {
  display: flex;
  align-items: center;
  padding: 0 8px 0 5px;
  border-top: 1px solid #ddd;
}
.sender {
  margin-left: 24px;
  width: 180px;
  font-weight: 555;
  font-size: 14px;
  color: #111111;
}
.subject {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 555;
  font-size: 14px;
  color: #111111;
}
.date {
  display: flex;
  justify-content: flex-end;
  width: 100px;
  margin: 0 8px;
  font-weight: 555;
  font-size: 12px;
  color: #111111;
}
